<div>
    <mat-form-field class="switchTime-form-field" appearance="fill">
        <mat-label>Start</mat-label>
        <input matInput type="time" [ngModel]="startTime">
    </mat-form-field>
    <mat-form-field class="switchTime-form-field" appearance="fill">
        <mat-label>Ende</mat-label>
        <input matInput type="time" [ngModel]="startTime">
    </mat-form-field>
    <mat-form-field class="switchTime-form-field relay" appearance="fill">
        <mat-label>Relay</mat-label>
        <mat-select [ngModel]="switchTime.relay">
            <mat-option *ngFor="let relay of relayNames$|async;index as i" [value]="i"  >{{relay}}</mat-option>
          </mat-select>
    </mat-form-field>
</div>