<mat-card>
  <mat-card-content>
    <form [formGroup]="formGroup">
    <mat-form-field class="switchTime-form-field" appearance="fill">
      <mat-label>Start</mat-label>
      <input matInput type="time" formControlName="start" >
    </mat-form-field>
    <mat-form-field class="switchTime-form-field" appearance="fill">
      <mat-label>Ende</mat-label>
      <input matInput type="time" formControlName="end" >
    </mat-form-field>
    <mat-form-field class="switchTime-form-field relay" appearance="fill">
      <mat-label>Relay</mat-label>
      <mat-select formControlName="relay">
        <mat-option *ngFor="let relay of relayNames$|async;index as i" [value]="i">{{relay}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button mat-fab color="warn" (click)="deleteSwitchTime()">
    <mat-icon>delete</mat-icon>
  </button>
  </mat-card-content>
</mat-card>
